# Dependencies
node_modules/
venv/
env/
__pycache__/
*.pyc
.pytest_cache/

# Environment Variables
.env
.env.local

# Databases & Sessions
backend/db/*.db
backend/session/*.session
backend/session/*.session-journal

# Build
frontend/dist/
frontend/build/

# OS Files
.DS_Store
Thumbs.db
